.list.ng-enter {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.list.ng-leave {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
.icon-favorite.ion-ios-star-add {
  -webkit-animation-name: puffIn;
  animation-name: puffIn;
}
.icon-favorite.ion-ios-star-outline-add {
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-name: puffOut;
  animation-name: puffOut;
}
